In [2]:
#Numpy
import numpy as np
np.array(34)

array(34)

In [2]:
np.array([3,5,7,23])

In [6]:
np.array([[5,6,1,2],[2,3,5,8]])

In [11]:
x = np.array([4,6,8,2])
x.ndim
x.shape
x.size
x.dtype
type(x)

numpy.ndarray

In [12]:
np.zeros(5)

In [13]:
np.zeros(4,dtype=int)

In [14]:
np.ones(4)

In [15]:
np.full((2,4),3)

In [16]:
np.eye(3)

In [17]:
np.arange(1,20,2)

In [18]:
np.linspace(0,1,10)

In [21]:
np.random.randint(2,10,9)

In [22]:
a = np.arange(0,10)
a

In [27]:
a[1]
a[5::]
a[3:7]
a[::-1]

In [28]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
arr

In [32]:
arr[0]
arr[1,2]
arr[2][2::]

In [33]:
arr1 = np.array([[3,4,5,2],[2,3,4,7],[9,8,1,4]])
arr1

In [34]:
arr>2

In [35]:
arr>arr1

In [36]:
arr1[arr>2]

In [3]:
ab = np.random.randint(20, size=(4,5))
ab

In [4]:
sub_ab = ab[:2,:3]
sub_ab

In [5]:
sub_ab[0,0] = 55
sub_ab

In [6]:
ab

In [8]:
n = np.arange(1,10)
n
n.shape

(9,)

In [9]:
n_shape = n.reshape(3,3)
n_shape

In [13]:
ab.reshape(-1)
ab
ab.flatten()

In [3]:
#29 Jan
a = np.array([10,11,12])
b = np.array([20,21,22])
np.concatenate([a,b])

In [5]:
a1 = np.array([[1,2,3],[4,5,6]])
a2 = np.array([[11,12,13],[14,15,16]])
np.concatenate([a1,a2])

In [6]:
np.concatenate([a1,a2],axis=1)

In [7]:
n1 = np.array([1,3,5,7,34,645,12,21])
n1

In [11]:
q,w,e = np.split(n1,[3,6])
q

In [12]:
w

In [13]:
e

In [14]:
d1 = np.arange(28).reshape(7,4)
d1

In [15]:
np.split(d1,[2,5])

[array([[0, 1, 2, 3],
        [4, 5, 6, 7]]),
 array([[ 8,  9, 10, 11],
        [12, 13, 14, 15],
        [16, 17, 18, 19]]),
 array([[20, 21, 22, 23],
        [24, 25, 26, 27]])]

In [16]:
np.hsplit(d1,[2])

[array([[ 0,  1],
        [ 4,  5],
        [ 8,  9],
        [12, 13],
        [16, 17],
        [20, 21],
        [24, 25]]),
 array([[ 2,  3],
        [ 6,  7],
        [10, 11],
        [14, 15],
        [18, 19],
        [22, 23],
        [26, 27]])]

In [17]:
np.sort(n1)

In [18]:
n1

In [20]:
n1.sort()
n1

In [21]:
-np.sort(-n1)

In [22]:
z = np.linspace(0,50,12,dtype="int").reshape(4,3)
z

In [23]:
m = np.array([1,0,-1])
m

In [24]:
z + m

In [25]:
mat = np.array([1,2,3,4,5,6,7,8,9])
mat

In [26]:
mat-5

In [29]:
mat *3

In [30]:
fun = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
fun

In [31]:
np.add(fun,2)

In [32]:
np.subtract(fun,1)

In [33]:
np.power(fun,2)

In [34]:
np.mean(fun)

6.5

In [35]:
np.sum(fun)

78

In [36]:
np.min(fun)

1

In [37]:
np.var(fun)

11.916666666666666

In [38]:
np.std(fun)

3.452052529534663

In [39]:
np.absolute(np.array([-1,2,-4,-49,-2]))

In [40]:
np.log(fun)

In [41]:
np.log10(fun)

In [ ]:
'''Write a NumPy program to create a 3x3 matrix with values ranging from 2 to 10. Go to the editor
Expected Output:
[[ 2 3 4]
[ 5 6 7]
[ 8 9 10]]'''

In [42]:
'''Write a NumPy program to create a 2d array with 1 on the border and 0 inside. Go to the editor
Expected Output:
Original array:
[[ 1. 1. 1. 1. 1.]
...................
[ 1. 1. 1. 1. 1.]]
1 on the border and 0 inside in the array
[[ 1. 1. 1. 1. 1.]
...................
[ 1. 1. 1. 1. 1.]]

1 1 1 1 1
1 0 0 0 1
1 1 1 1 1'''
import numpy as np
x = np.ones((5,5))
print("Original array:")
print(x)
print("1 on the border and 0 inside in the array")
x[1:-1,1:-1] = 0
print(x)

Original array:
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
1 on the border and 0 inside in the array
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

In [ ]:
'''Write a NumPy program to split an array of 14 elements into 3 arrays, each of which has 2, 4, and 8 elements in the original order. Go to the editor
Expected Output:
Original array: [ 1 2 3 4 5 6 7 8 9 10 11 12 13 14]
After splitting:
[array([1, 2]), array([3, 4, 5, 6]), array([ 7, 8, 9, 10, 11, 12, 13, 14])]'''

In [43]:
'''Write a NumPy program to convert a NumPy array of float values to a NumPy array of integer values. Go to the editor
Expected Output:
Original array elements:
[[ 12. 12.51]
[ 2.34 7.98]
[ 25.23 36.5 ]]
Convert float values to intger values:
[[12 12]
[ 2 7]
[25 36]]'''
import numpy as np
x= np.array([[12.0, 12.51], [2.34, 7.98], [25.23, 36.50]])
print("Original array elements:")
print(x)
print("Convert float values to integer values:")
print(x.astype(int))

Original array elements:
[[12.   12.51]
 [ 2.34  7.98]
 [25.23 36.5 ]]
Convert float values to integer values:
[[12 12]
 [ 2  7]
 [25 36]]

In [2]:
#11 Feb - Pandas
import pandas as pd

In [5]:
#Creating Pandas Series
s = pd.Series([1,2,3,4,5])

In [6]:
type(s)

pandas.core.series.Series

In [7]:
s.axes

[RangeIndex(start=0, stop=5, step=1)]

In [8]:
s.dtype

dtype('int64')

In [10]:
s.ndim

1

In [11]:
s.size

5

In [12]:
s.values

In [13]:
s.head(2)

In [14]:
s.tail(3)

In [16]:
s[1]

2

In [17]:
#Changing Index Labels
pd.Series([13,214,210,440,53])

In [18]:
pd.Series([13,214,210,440,53],index=[4,6,7,3,87])

In [20]:
#Creating series with key/value objects
age = {"Sathish":31, "Vignesh":41,"Swathi":22}
age

{'Sathish': 31, 'Vignesh': 41, 'Swathi': 22}

In [21]:
pd.Series(age)

In [22]:
#Merging two different Series
s1 = pd.Series([2,3,55,2,6,44])
s2 = pd.Series([431,653,2435,2,1,87,3])
pd.concat([s1,s2])

In [23]:
s1[1]

3

In [24]:
s2[0:4]

In [25]:
#Queries in Pandas Series
3 in s1

True

In [31]:
#Data Frames
dataframe = pd.DataFrame({'Name':["Ajay","Faizal","Mani"],'Age':[23,53,12]})

In [32]:
dataframe["Age"]

In [33]:
dataframe.Age

In [37]:
import numpy as np
arr = np.array([5,4,2,7,1,8,6,4,3]).reshape(3,3,)
arr

In [42]:
df = pd.DataFrame(arr,columns=["variable1","variable2","variable3"])

In [44]:
#changing column names
df.columns=("Var1","Var2","Var3")
df

,Var1,Var2,Var3
0,5,4,2
1,7,1,8
2,6,4,3

In [45]:
df = pd.DataFrame({'Name':["Ajay","Faizal","Mani"],'Income':[7445432,324325,463523],'Age':[23,53,12]})
df

,Name,Income,Age
0,Ajay,7445432,23
1,Faizal,324325,53
2,Mani,463523,12

In [46]:
df.iloc[0]

In [47]:
df.iloc[[0,2]]

,Name,Income,Age
0,Ajay,7445432,23
2,Mani,463523,12

In [3]:
#Merging Dataframes
#concat fn
import pandas as pd
emp = pd.DataFrame({"Name":["Sathish","Suresh","Dilli","Vijay"],
                    "Dep":["IT","Finance","HR","Delivery"],
                    "Salary":[34666,234211,53422,124232],
                    "Age":[24,29,54,31]})
emp

,Name,Dep,Salary,Age
0,Sathish,IT,34666,24
1,Suresh,Finance,234211,29
2,Dilli,HR,53422,54
3,Vijay,Delivery,124232,31

In [4]:
emp1 = pd.DataFrame({"Name":["Jeessy","Kalki","Diya","Abinaya"],
                    "Dep":["IT","Finance","HR","Delivery"],
                    "Salary":[23465,234341,53345,163663],
                    "Age":[23,27,32,21]})
emp1

,Name,Dep,Salary,Age
0,Jeessy,IT,23465,23
1,Kalki,Finance,234341,27
2,Diya,HR,53345,32
3,Abinaya,Delivery,163663,21

In [5]:
pd.concat([emp,emp1])

,Name,Dep,Salary,Age
0,Sathish,IT,34666,24
1,Suresh,Finance,234211,29
2,Dilli,HR,53422,54
3,Vijay,Delivery,124232,31
0,Jeessy,IT,23465,23
1,Kalki,Finance,234341,27
2,Diya,HR,53345,32
3,Abinaya,Delivery,163663,21

In [6]:
pd.concat([emp,emp1],ignore_index=True)

,Name,Dep,Salary,Age
0,Sathish,IT,34666,24
1,Suresh,Finance,234211,29
2,Dilli,HR,53422,54
3,Vijay,Delivery,124232,31
4,Jeessy,IT,23465,23
5,Kalki,Finance,234341,27
6,Diya,HR,53345,32
7,Abinaya,Delivery,163663,21

In [8]:
pd.concat([emp,emp1],join="inner")

,Name,Dep,Salary,Age
0,Sathish,IT,34666,24
1,Suresh,Finance,234211,29
2,Dilli,HR,53422,54
3,Vijay,Delivery,124232,31
0,Jeessy,IT,23465,23
1,Kalki,Finance,234341,27
2,Diya,HR,53345,32
3,Abinaya,Delivery,163663,21

In [11]:
class1= pd.DataFrame({"Name":["Mike","Ana","Janiel"],"Student Number":[32212354,9364859,847937250],"GPA":[3.40,2.78,3.01]})
class1

,Name,Student Number,GPA
0,Mike,32212354,3.40
1,Ana,9364859,2.78
2,Janiel,847937250,3.01

In [15]:
class2= pd.DataFrame({"Name":["Kristina","Michael","Arhun"],"Student Number":[738273948,422413342,938674938],"Age":[21,24,19]})
class2

,Name,Student Number,Age
0,Kristina,738273948,21
1,Michael,422413342,24
2,Arhun,938674938,19

In [16]:
pd.concat([class1,class2],join="inner")

,Name,Student Number
0,Mike,32212354
1,Ana,9364859
2,Janiel,847937250
0,Kristina,738273948
1,Michael,422413342
2,Arhun,938674938

In [17]:
pd.concat([class1,class2],join="outer")

,Name,Student Number,GPA,Age
0,Mike,32212354,3.40,NaN
1,Ana,9364859,2.78,NaN
2,Janiel,847937250,3.01,NaN
0,Kristina,738273948,NaN,21.0
1,Michael,422413342,NaN,24.0
2,Arhun,938674938,NaN,19.0

In [18]:
pd.merge(class1,class2,how="left")

,Name,Student Number,GPA,Age
0,Mike,32212354,3.40,NaN
1,Ana,9364859,2.78,NaN
2,Janiel,847937250,3.01,NaN

In [19]:
pd.merge(class1,class2,how="right")

,Name,Student Number,GPA,Age
0,Kristina,738273948,NaN,21
1,Michael,422413342,NaN,24
2,Arhun,938674938,NaN,19

In [20]:
#Append
class1.append(class2,ignore_index=True)

,Name,Student Number,GPA,Age
0,Mike,32212354,3.40,NaN
1,Ana,9364859,2.78,NaN
2,Janiel,847937250,3.01,NaN
3,Kristina,738273948,NaN,21.0
4,Michael,422413342,NaN,24.0
5,Arhun,938674938,NaN,19.0

In [21]:
#Sorting
class1.sort_values(by="Name")

,Name,Student Number,GPA
1,Ana,9364859,2.78
2,Janiel,847937250,3.01
0,Mike,32212354,3.40

In [22]:
#Aggreagation Functions
employees = pd.DataFrame({"Name":["Josh","Mike","Julia","Sergio","Julia","Michael","Sarath","Jakub","Chris"],
                          "Department":["IT","Human Resources","Finance","Supply Chain","Finance","Marketing","IT","Human Resources","Law"],
                          "Income":[4800,5200,6600,5700,7200,8400,7700,4200,9400],
                          "Age":[24,28,33,41,22,46,31,27,39],
                          "Experience":[2,5,9,17,1,24,10,6,13]})
employees

,Name,Department,Income,Age,Experience
0,Josh,IT,4800,24,2
1,Mike,Human Resources,5200,28,5
2,Julia,Finance,6600,33,9
3,Sergio,Supply Chain,5700,41,17
4,Julia,Finance,7200,22,1
5,Michael,Marketing,8400,46,24
6,Sarath,IT,7700,31,10
7,Jakub,Human Resources,4200,27,6
8,Chris,Law,9400,39,13

In [23]:
employees.count()

In [26]:
employees["Department"].value_counts()

In [27]:
employees.mean()

<ipython-input-27-54586efc808d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  employees.mean()

In [28]:
employees.median()

<ipython-input-28-8010e1878e06>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  employees.median()

In [29]:
employees.sum()

In [30]:
employees.min()

In [31]:
employees.max()

In [32]:
employees.std()

<ipython-input-32-561b13b4ed81>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  employees.std()

In [33]:
employees.var()

<ipython-input-33-c383542361dd>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  employees.var()

In [34]:
employees.describe()

,Income,Age,Experience
count,9.000000,9.000000,9.000000
mean,6577.777778,32.333333,9.666667
std,1746.981524,8.154753,7.416198
min,4200.000000,22.000000,1.000000
25%,5200.000000,27.000000,5.000000
50%,6600.000000,31.000000,9.000000
75%,7700.000000,39.000000,13.000000
max,9400.000000,46.000000,24.000000

In [35]:
employees.describe().T

,count,mean,std,min,25%,50%,75%,max
Income,9.0,6577.777778,1746.981524,4200.0,5200.0,6600.0,7700.0,9400.0
Age,9.0,32.333333,8.154753,22.0,27.0,31.0,39.0,46.0
Experience,9.0,9.666667,7.416198,1.0,5.0,9.0,13.0,24.0

In [36]:
employees.sem()

<ipython-input-36-c34e3d6562b9>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  employees.sem()

In [37]:
#Groupings
employees = pd.DataFrame({"Name":["Josh","Mike","Julia","Sergio","Julia","Michael","Sarath","Jakub","Chris"],
                          "Department":["IT","Human Resources","Finance","Supply Chain","Finance","Marketing","IT","Human Resources","Law"],
                          "Income":[4800,5200,6600,5700,7200,8400,7700,4200,9400],
                          "Age":[24,28,33,41,22,46,31,27,39],
                          "Experience":[2,5,9,17,1,24,10,6,13]})
employees

,Name,Department,Income,Age,Experience
0,Josh,IT,4800,24,2
1,Mike,Human Resources,5200,28,5
2,Julia,Finance,6600,33,9
3,Sergio,Supply Chain,5700,41,17
4,Julia,Finance,7200,22,1
5,Michael,Marketing,8400,46,24
6,Sarath,IT,7700,31,10
7,Jakub,Human Resources,4200,27,6
8,Chris,Law,9400,39,13

In [38]:
employees.groupby("Department")

In [39]:
emp_dep = employees.groupby("Department")
emp_dep.get_group("IT")

,Name,Department,Income,Age,Experience
0,Josh,IT,4800,24,2
6,Sarath,IT,7700,31,10

In [40]:
employees.groupby("Department").sum()

,Income,Age,Experience
Department,,,
Finance,13800,55,10
Human Resources,9400,55,11
IT,12500,55,12
Law,9400,39,13
Marketing,8400,46,24
Supply Chain,5700,41,17

In [42]:
employees.groupby("Department").mean()["Income"]

In [43]:
employees.groupby("Department")["Income"].agg(["mean","max","median"])

,mean,max,median
Department,,,
Finance,6900.0,7200,6900.0
Human Resources,4700.0,5200,4700.0
IT,6250.0,7700,6250.0
Law,9400.0,9400,9400.0
Marketing,8400.0,8400,8400.0
Supply Chain,5700.0,5700,5700.0

In [44]:
def salary_increase(x):
    return x+10000

In [45]:
employees["Income"]

In [47]:
employees["Income"].transform(salary_increase)

In [48]:
employees["Name"].apply(len)

In [49]:
def age(x):
    return x+1

In [50]:
employees["Age"].apply(age)

In [52]:
employees["Department"].replace({"IT":"Information Technology"},inplace=True)
employees

,Name,Department,Income,Age,Experience
0,Josh,Information Technology,4800,24,2
1,Mike,Human Resources,5200,28,5
2,Julia,Finance,6600,33,9
3,Sergio,Supply Chain,5700,41,17
4,Julia,Finance,7200,22,1
5,Michael,Marketing,8400,46,24
6,Sarath,Information Technology,7700,31,10
7,Jakub,Human Resources,4200,27,6
8,Chris,Law,9400,39,13

In [11]:
nba = pd.read_csv("nba.csv")

In [55]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [57]:
nba.shape

(458, 9)

In [58]:
nba.info

<bound method DataFrame.info of               Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]>

In [59]:
nba.describe()

,Number,Age,Weight,Salary
count,457.000000,457.000000,457.000000,4.460000e+02
mean,17.678337,26.938731,221.522976,4.842684e+06
std,15.966090,4.404016,26.368343,5.229238e+06
min,0.000000,19.000000,161.000000,3.088800e+04
25%,5.000000,24.000000,200.000000,1.044792e+06
50%,13.000000,26.000000,220.000000,2.839073e+06
75%,25.000000,30.000000,240.000000,6.500000e+06
max,99.000000,40.000000,307.000000,2.500000e+07

In [60]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [61]:
nba.nunique()

In [64]:
nba[nba["Position"]=="PG"]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
...,...,...,...,...,...,...,...,...,...
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0

In [2]:
#Data Processing
import pandas as pd
import numpy as np
import math
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import LocalOutlierFactor
import missingno as msno
from ycimpute.imputer import knnimput
from ycimpute.imputer import iterforest
from ycimpute.imputer import EM
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = sns.load_dataset("diamonds")
df = df.select_dtypes(include=["float64","int64"])
df.dropna(inplace=True)
df.head()

,carat,depth,table,price,x,y,z
0,0.23,61.5,55.0,326,3.95,3.98,2.43
1,0.21,59.8,61.0,326,3.89,3.84,2.31
2,0.23,56.9,65.0,327,4.05,4.07,2.31
3,0.29,62.4,58.0,334,4.20,4.23,2.63
4,0.31,63.3,58.0,335,4.34,4.35,2.75

In [5]:
df.shape

(53940, 7)

In [6]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [7]:
quart1 = df.quantile(0.25)
quart2 = df.quantile(0.75)
IQR = quart2-quart1
print(quart1)
print(quart2)
print(IQR)

carat      0.40
depth     61.00
table     56.00
price    950.00
x          4.71
y          4.72
z          2.91
Name: 0.25, dtype: float64
carat       1.04
depth      62.50
table      59.00
price    5324.25
x           6.54
y           6.54
z           4.04
Name: 0.75, dtype: float64
carat       0.64
depth       1.50
table       3.00
price    4374.25
x           1.83
y           1.82
z           1.13
dtype: float64

In [10]:
l_i_f = quart1 - 1.5*IQR 
u_i_f = quart2 + 1.5*IQR
print(l_i_f)
print(u_i_f)

carat      -0.560
depth      58.750
table      51.500
price   -5611.375
x           1.965
y           1.990
z           1.215
dtype: float64
carat        2.000
depth       64.750
table       63.500
price    11885.625
x            9.285
y            9.270
z            5.735
dtype: float64

In [11]:
print("Outliers:",len(df[(df<l_i_f) | (df>u_i_f)]))

Outliers: 53940

In [4]:
df

,carat,depth,table,price,x,y,z
0,0.23,61.5,55.0,326,3.95,3.98,2.43
1,0.21,59.8,61.0,326,3.89,3.84,2.31
2,0.23,56.9,65.0,327,4.05,4.07,2.31
3,0.29,62.4,58.0,334,4.20,4.23,2.63
4,0.31,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,2757,5.75,5.76,3.50
53936,0.72,63.1,55.0,2757,5.69,5.75,3.61
53937,0.70,62.8,60.0,2757,5.66,5.68,3.56
53938,0.86,61.0,58.0,2757,6.15,6.12,3.74
53939,0.75,62.2,55.0,2757,5.83,5.87,3.64

In [5]:
df.isnull()

,carat,depth,table,price,x,y,z
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
53935,False,False,False,False,False,False,False
53936,False,False,False,False,False,False,False
53937,False,False,False,False,False,False,False
53938,False,False,False,False,False,False,False
53939,False,False,False,False,False,False,False

In [6]:
df.isna()

,carat,depth,table,price,x,y,z
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
53935,False,False,False,False,False,False,False
53936,False,False,False,False,False,False,False
53937,False,False,False,False,False,False,False
53938,False,False,False,False,False,False,False
53939,False,False,False,False,False,False,False

In [8]:
nba.isnull()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
453,False,False,False,False,False,False,False,False,False
454,False,False,False,False,False,False,False,True,False
455,False,False,False,False,False,False,False,True,False
456,False,False,False,False,False,False,False,False,False
457,True,True,True,True,True,True,True,True,True

In [10]:
nba.dropna(inplace=True)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [12]:
nba.shape

(458, 9)

In [28]:
df_tab = nba["Salary"]
df_tab

In [14]:
sns.boxplot(x=df_table)
plt.show()

In [15]:
df_table.describe()

In [16]:
q1 = df_table.quantile(0.25)
q3 = df_table.quantile(0.75)
IQR = q3-q1
print(q1)
print(q3)
print(IQR)

1044792.25
6500000.0
5455207.75

In [17]:
lif = q1 - 1.5*IQR
uif = q3 + 1.5*IQR
print(lif)
print(uif)

-7138019.375
14682811.625

In [20]:
print("Outlier = ",len(df_table[(df_table<lif) | (df_table>uif)]))

Outlier =  35

In [21]:
df_table = pd.DataFrame(df_table)
df_table.head()

,Salary
0,7730337.0
1,6796117.0
2,NaN
3,1148640.0
4,5000000.0

In [23]:
df_table.shape

(458, 1)

In [24]:
new_df = df_table[~((df_table<lif) | (df_table>uif)).any(axis=1)]

In [26]:
new_df.shape

(423, 1)

In [30]:
df_tab[(df_tab<lif) | (df_tab>uif)] = df_tab.mean()

<ipython-input-30-5750c18a9a1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tab[(df_tab<lif) | (df_tab>uif)] = df_tab.mean()

In [31]:
df_tab[(df_tab<lif) | (df_tab>uif)]

In [32]:
df_tab[df_tab<lif] = lif
df_tab[df_tab>uif] = uif

<ipython-input-32-1b97505e6abe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tab[df_tab<lif] = lif
<ipython-input-32-1b97505e6abe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tab[df_tab>uif] = uif

In [33]:
lof = LocalOutlierFactor(n_neighbors=20, contamination=0.1)

In [34]:
lof.fit_predict(df_tab)

ValueError: ValueError: Expected 2D array, got 1D array instead:
array=[ 7730337.          6796117.                       nan  1148640.
  5000000.         12000000.          1170960.          2165160.
  1824360.          3431040.          2569260.          6912869.
  3425510.          1749840.          2616975.          3425510.
   845059.          1500000.          1335480.          6300000.
  1599840.           134215.          1500000.          4842684.10538117
  1140240.           947276.           981348.           947276.
   947276.         11235955.          8000000.          1635476.
    30888.          4842684.10538117  7402812.           845059.
   845059.          1572360.         12650000.          3750000.
  4131720.          2814000.          1636842.           947276.
  4000000.           167406.                       nan   947276.
  1000000.          4626960.           845059.          1074169.
  6500000.          2144772.           525093.          3457800.
  4582680.           947276.          2869440.           947276.
   525093.          2814000.          1524000.         13600000.
 10050000.          2500000.          7000000.         12000000.
  1842000.          6268675.           650000.          3553917.
  2900000.           245177.          4660482.          1509360.
  2500000.          3873398.         13800000.           947276.
 11370786.          2008748.         14260870.         11710456.
  5543725.          1131960.           845059.          1270964.
  3815000.          4842684.10538117   289755.          1100602.
   111444.          5675000.           525093.          9650000.
  4842684.10538117  1100602.          4842684.10538117   947276.
  4842684.10538117  3376000.           947726.          7085000.
  3110796.          1159680.          3000000.           845059.
   700000.          4842684.10538117   845059.          4842684.10538117
   525093.          1724250.          1155600.          3132240.
  5103120.           981348.          7000000.           947276.
  5219169.         13500000.          2127840.           206192.
 13000000.          1160160.           981348.         13500000.
  3807120.          1035000.            55722.           947276.
  5500000.          5500000.          2041080.            83397.
   981348.          1015421.          6060606.          1449187.
  2836186.          3398280.          5013559.          4842684.10538117
   947276.           525093.         12403101.          7700000.
  3156600.           845059.          9500000.           845059.
  2250000.          4842684.10538117  4500000.           525093.
  7448760.          8500000.           947276.          2380440.
  5543725.          1015421.         13400000.          1391160.
  4842684.10538117  1535880.          1147276.          8193029.
  4842684.10538117  4842684.10538117   947276.                       nan
   947276.          1276000.          4842684.10538117   111196.
  4950000.          8988765.          5000000.         14260870.
  2100000.          2500000.          6500000.          2170465.
   111444.          1252440.          2891760.           845059.
  3272091.          4842684.10538117   600000.         13913044.
  2841960.          6270000.          5000000.          3000000.
  4050000.          1007026.         10300000.          4842684.10538117
  8000000.          4000000.          1358880.           211744.
  4000000.          4394225.          1100000.          7000000.
  2357760.           845059.          1007026.          1953960.
  3000000.          2399040.           947276.          1662360.
  2943221.           855000.          8000000.          4842684.10538117
  4842684.10538117   295327.           845059.          5152440.
  2109294.          6600000.          1733040.          1449000.
  4290000.          1100602.          3950313.          4053446.
  2085671.          4842684.10538117  1270964.           525093.
  8333334.          5200000.          4842684.10538117   845059.
   947276.          5378974.          8193030.           306527.
  6486486.          8229375.          1242720.          1646400.
   200600.          4842684.10538117  1000000.          4842684.10538117
  2489530.          3189794.          2288205.           947276.
   947276.          1404600.          5158539.          5000000.
  3542500.          4088019.          9588426.           700902.
               nan  4842684.10538117   845059.          1201440.
  1230840.                       nan               nan  9638555.
  9000000.                       nan  5464000.          4389607.
  8500000.          9213483.          1100602.          3036927.
  2850000.          7070730.           169883.          1164858.
   845059.         10734586.           845059.          1320000.
  4842684.10538117  1015421.         10595507.            55722.
   947276.          3382023.          4842684.10538117  1142880.
   947276.          7500000.          5250000.          2814000.
 10000000.          4842684.10538117  1200000.           200600.
   250750.          3578947.         13437500.           525093.
  1499187.          2000000.          1304520.          2854940.
 12000000.          1000000.          5746479.          4842684.10538117
   947276.           525093.          1763400.          3333333.
  4000000.          9756250.          1000000.          8000000.
 13125306.           947276.           189455.           947276.
   525093.          6110034.         13500000.          2612520.
  6331404.          3034356.          5675000.          2139000.
 12000000.          7000000.          4204200.          4842684.10538117
 10151612.          4842684.10538117   947276.          2854940.
   261894.           845059.          5543725.           525093.
   947276.          4842684.10538117               nan   981348.
  2481720.                       nan   947276.          2288205.
  4171680.          3741480.          7900000.          8344497.
   845059.          1294440.          2380593.          5192520.
  2505720.          4300000.         11250000.          5000000.
  4000000.          5694674.          4375000.           561716.
  3300000.         11217391.           273038.         13000000.
  8000000.          1920240.          4662960.          2170465.
  1100602.           200600.          4842684.10538117  2814000.
  3000000.          3533333.         10449438.         11235955.
 14000000.          1584480.          1300000.          1709719.
   947276.          3102240.          4345000.          1842000.
   258489.                       nan  3950001.          1474440.
  8500000.          1282080.          2148360.          2056920.
  1938840.         12100000.           947276.         12700000.
  1149500.                       nan  5703600.          5758680.
  2279040.          3750000.          4842684.10538117  3135000.
  1140240.         12250000.          4842684.10538117  1463040.
   222888.          3344000.          2021520.          1210800.
  4500000.          5138430.          4842684.10538117   525093.
  8042895.           625093.           947276.          6980802.
  2894059.          6000000.          5016000.          3075880.
  4236287.          2525160.           525093.          1415520.
  2854940.          2637720.          4775000.          2658240.
  9463484.          3777720.         12000000.          1175880.
  4842684.10538117  1348440.          2050000.           981348.
  2239800.          2433333.           900000.          2900000.
   947276.                       nan].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [37]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
n1 = np.array(nba["Number"])
n2 = np.array(nba["Age"])
n3 = np.array(nba["Height"])
nba_df = pd.DataFrame({"n1":n1,"n2":n2,"n3":n3})

In [43]:
nba_df

,n1,n2,n3
0,0.0,25.0,6-2
1,99.0,25.0,6-6
2,30.0,27.0,6-5
3,28.0,22.0,6-5
4,8.0,29.0,6-10
...,...,...,...
453,8.0,26.0,6-3
454,25.0,24.0,6-1
455,21.0,26.0,7-3
456,24.0,26.0,7-0
457,NaN,NaN,NaN

In [44]:
nba_df.isna().sum()

In [45]:
nba_df.notnull().sum()

In [46]:
nba_df[nba_df.isnull().any(axis=1)]

,n1,n2,n3
457,NaN,NaN,NaN

In [48]:
nba_df.dropna()

,n1,n2,n3
0,0.0,25.0,6-2
1,99.0,25.0,6-6
2,30.0,27.0,6-5
3,28.0,22.0,6-5
4,8.0,29.0,6-10
...,...,...,...
452,41.0,20.0,6-10
453,8.0,26.0,6-3
454,25.0,24.0,6-1
455,21.0,26.0,7-3
456,24.0,26.0,7-0

In [49]:
nba1 = nba.select_dtypes(include=["float64","int64"])
nba1.head()

,Number,Age,Weight,Salary
0,0.0,25.0,180.0,7730337.0
1,99.0,25.0,235.0,6796117.0
2,30.0,27.0,205.0,NaN
3,28.0,22.0,185.0,1148640.0
4,8.0,29.0,231.0,5000000.0

In [51]:
nba1.isnull().sum()

In [52]:
nba1_var = list(nba1.columns)

In [53]:
nba1_df = np.array(nba1_var)

In [54]:
nba1_df.shape

(4,)

In [55]:
EM_nba1_var = EM().complete(nba1_df)

ValueError: ValueError: Expected 2d matrix, got (4,) array